{% extends "blog/base.html" %}
{% load static %}
{% block body %}


<!-- Header   Of Home page -->
<div class="Entire-Header">
  <!-- This is the Menu (Hamburger menu) which was showing on the top-->
    <nav role="navigation">
        <div class="logo" ><a href="{% url 'home' %}" style="color:black;">EVE</a></div>
 <!--  <button type="submit" class="sgnup">Sign Up</button>  -->
      <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
       <div id="profile">
           <a  href="{% url 'profile' %}"><li>
             <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
             <p>Hello, {{ request.user.First_Name }}</p></li></a>
       </div>

           <a href="{% url 'home' %}"><li>Home</li></a><hr/>
           <a href="{% url 'post' %}" ><li>Health Blog</li></a></hr>
<hr/>       {% if user.is_authenticated %}

           <a href="{% url 'logout' %}"><li>Logout</li></a><hr/>
          {% else %}
           <a href="{% url 'login' %}"><li>Log In</li></a><hr/>
           <a href="{% url 'register' %}"><li>Sign Up</li></a><hr/>
          {% endif %}
      </ul>
     </div>
    </nav>
</div>

<style>
  /* Logo For Desktop */
  @media(min-width:450px) and (max-width:3000px){
  .Entire-Header{
    height:40px;
  }
  
  .logo{
    display:block;
    font-size:25px;
    font-weight:700;
    text-align: left;
    padding-left: 50px;
    padding-top:0px;
    }
  #menuToggle
  {
    display: fixed;
    position: relative;
    top: -8px;
    left: 10px;
    z-index: 1;
    color:rgb(240, 226, 226);
    -webkit-user-select: none;
    user-select: none;
  }
  
  }
/* For Mobile */
@media(max-width:450px){
.Entire-Header{
  height:40px;
}

.logo{
  display:block;
  font-size:1.8rem;
  font-weight:600;
  }
#menuToggle
{
  display: fixed;
  position: relative;
  top: -10px;
  left: 10px;
  z-index: 1;
  color:rgb(240, 226, 226);
  -webkit-user-select: none;
  user-select: none;
}

}
</style>
<!--End Of Header -->



<!-- Appointment Detail Start-->

<div class="detail-box">
         {% if object.doctors_profile.user == user %}
    <div class="detailtopcontainer">
        <div class="appdetail">
         <p class="patient-detail">User Name: {{ object.patient_name }}</p>
         <p class="patient-detail">Patient Name: {{ object.your_name }}</p>

          <p class="date-detail">{{ object.for_date|date:"F d, Y" }}</p>

          <p class="timing-detail">{{ object.timeslot }}</p>
          <p class="timing-detail">{{ object.timeslot.0 }}</p>

          <p class="no-detail" >No.-{{ object.no }}</p>
            <p class="no-detail" >Payment-{{ object.payment }}</p>

          <p class="doctor-detail">By  -Dr.{{ object.doctors_profile }}</p>

          <p class="doctor-detail">By  -Dr.{{ object.receipt }}<a  target="_blank"  href="/media/profile_pics/{{ object.receipt }}" >Download Receipt</a></p>

    </div>
    
    <div class="detailupdate">
 
      <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'Appointment_Table_update' object.id %}">Update</a>

  <!--    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'Table1_confirm_delete' object.id %}">Delete</a>
  -->
  </div>
     {% endif %}
  </div>


<!-- For PAtient -->
<div class="detail-box">
  {% if object.patient_name == user %}
<div class="detailtopcontainer">
 <div class="appdetail">
  <p class="patient-detail">User Name: {{ object.patient_name }}</p>
  <p class="patient-detail">Patient Name: {{ object.First_Name }} {{ object.Last_Name }}</p>

   <p class="date-detail">{{ object.appointment_date|date:"F d, Y" }}</p>
   <p class="no-detail" >No. {{ object.no }}</p>
   <p class="no-detail" >Timing:  {{ object.start_time|date:'H:i A' }}-{{ object.end_time|date:'H:i A' }}</p>
     <p class="no-detail" >Amount-{{ object.doctors_profile.fee }}</p>

   <p class="doctor-detail">By  -Dr.<a href="{% url 'doctors_profile_archive' object.doctors_profile.id %}">{{ object.doctors_profile.First_Name }} {{ object.doctors_profile.Last_Name }}</a></p>

   <p class="doctor-detail"> Prescription: <a href="/media/profile_pics/{{ object.receipt }}" target="_blank">Download Prescription</a></p>


<embed src="media/profile_pics/prescription_receipts/purchase_d1gmail.com.pdf" type="application/pdf" width="100%" height="100px" />
 </div>
</div>

{% endif %}
</div>






<style>

/* for desktop */
@media(min-width:450px) and (max-width:3000px){
.detail-box{
    display:block;
    background-color: rgb(243, 243, 243);
}

.detailtopcontainer{
    height: 470px;
    border-top: none;
  }
.appdetail{
    float:left;
    padding-left: 1rem;
    padding-top: 1rem;
  }
.patient-detail{
    font-size: 20px;
    font-weight: 600;
}
.patientname-detail{
    font-size: 20px;
    font-weight: 650;
    color: black;
}
.date-detail{
  font-size: 15px;
  color:rgb(121, 121, 121);
}
.no-detail{
  font-size: 15px;
  font-weight: 500;
  color:rgb(15, 15, 15);
}
.doctor-detail{
    font-size: 20px;
    font-weight: 600;
    color: black;
}

.timing-detail{
  font-size: 15px;
  color:rgb(121, 121, 121);
}


.detailupdate{
  padding-left: 5rem;
}
}


/* for mobile  */
@media(max-width:450px){
.detailtopcontainer{
    height: 500px;


  }
.detail-box{
    display:block;
    background-color: rgb(230, 230, 230);
}

.appdetail{

    float:left;
    padding-left: 3px;
    padding-top: 3px;
  }
.patient-detail{

    font-size: 20px;
    font-weight: 600;
}
.patientname-detail{
    margin-top:-10px;
    font-size: 25px;
    font-weight: 650;
    color: black;
}
.date-detail{
  margin-top:-10px;
  font-size: 20px;
  color:rgb(0, 0, 0);
  font-weight: 600;
}
.timing-detail{
  margin-top:-10px;
  font-size: 20px;
  color:rgb(0, 0, 0);
  font-weight: 600;
}

.no-detail{
  margin-top:-10px;
  font-size: 20px;
  font-weight: 600;
  color:rgb(15, 15, 15);
}
.doctor-detail{
  margin-top:-10px;
  font-size: 20px;
    font-weight: 800;
    color: black;
}


.imgdetail{
 width:66%;

  }
.imgdetail p{
    font-size:20px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
.imgdetail img{
    height:500px;
    width:150%;
    justify-content: center;
  }

.detailupdate{
  font-size:25px;
  padding-left: 5rem;
}
}
</style>







<!-- Footer     --------->
<hr/>
<div class="footer-container-page">
    <section class="footer-page">
      <div class="footerlinks-page" >
         <a href="{% url 'about' %}"> About Us</a>
     </div>

     <div class="footerlinks-page">
        <a href="{% url 'contact' %}"> Contact </a>
     </div>

     <div class="footerlinks-page">
        <a href="{% url 'contact' %}">Add Your Clinic/Hospital</a>
     </div>

    </section>

    <div class="socialcontainer-page">
      <a href="#"><img class="socialmedia-page" src="{% static 'images/facebook.png' %}" /></a>
      <a href="#"><img class="socialmedia-page" src="{% static 'images/instagram.png' %}" /></a>
      <a href="#"><img class="socialmedia-page" src="{% static 'images/twitter.png' %}" /></a>
    </div>

    <main class="lastline-page">
     <span class="credit"> <a href="#">EVE </a>|</span>
       <img class="socialmedia" id="copyright" src="{% static 'images/copyright.png' %}" />
       2021 All rights reserved.
    </main>

</div>

<!--Css Of Footer-->
<style type="text/css">

  /* for desktop */
  @media(min-width:450px) and (max-width:3000px){
    .footer-container-page{
      display:block;
      text-align:center;
     }
    .footer-page{
      justify-content:center;
      display:flex;
    }
    .footerlinks-page{
      padding-left:40px;

    }
    .footerlinks-page a{
      color:rgb(153, 153, 153);
      font-size: xx-small;
    }
    .socialmedia-page{
      height:20px;
      width:50px;
      padding-left:30px;
    }
    .lastline-page a{
      font-size: 15px;
      color:#000000;
    }
    .lastline-page{
      font-size: xx-small;
      color:#929292;
    }
    #copyright{
      height:15px;
      width:15px;
    }
  }


    /*Footer-page for mobile  */

    @media(max-width:450px){
    .footer-container-page{
      display:block;
      text-align:center;
     }
    .footer-page{
      justify-content:center;
      display:flex;
    }
    .footerlinks-page{
      padding-left:10px;

    }
    .footerlinks-page a{
      color:rgb(153, 153, 153);
      font-size: xx-small;
    }
    .socialmedia-page{
      height:20px;
      width:50px;
      padding-left:30px;
    }
    .lastline-page a{
      font-size: 15px;
      font-weight: 700;
      color:#080808;
    }
    .lastline-page{
      font-size: xx-small;
      color:#929292;
    }
    #copyright{
      height:15px;
      width:15px;
    }
  }
  </style>
  <!--End Of Footer-for-page-->

{% endblock %}