{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block body %}


<!-- Header   Of Home page -->
<div class="Entire-Header">
  <nav role="navigation">
      <div class="logo" ><a href="{% url 'home' %}" >EVE</a>
      <p>Center Head</p>
      </div>

<!--  <button type="submit" class="sgnup">Sign Up</button>  -->
    <div id="menuToggle">
    <input type="checkbox" />
    <span></span>
    <span></span>
    <span></span>
    <ul id="menu">
     <div id="profile">
         <a  href="{% url 'profile' %}"><li>
           <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <p>Hello, {{ user.First_Name }}</p></li></a>
     </div>
         <a href="{% url 'home' %}"><li>Home</li></a><hr/>
        {% if user.is_authenticated %}


         <a  href="{% url 'Create'  %}"><li>Create</li></a><hr/>
         <a  href="{% url 'Employee'  %}"><li>Employee_List</li></a><hr/>

         {% for CareCenter in CareCenter %}
         <a  href="{% url 'employee_form' CareCenter.id %}"><li>Create Employee</li></a><hr/>
         {% endfor %}

         <a href="{% url 'logout' %}"><li>Logout</li></a><hr/>
         <a href="{% url 'post' %}" ><li>Health Blog</li></a></hr>
        {% else %}

         <a href="{% url 'login' %}"><li>Log In</li></a><hr/>
         <a href="{% url 'register' %}"><li>Sign Up</li></a><hr/>
        {% endif %}
    </ul>
   </div>
  </nav>
</div>


<style type="text/css">

.Entire-Header{
    height:40px;
}
/* start of logo  */
/* logo For Mobile  */
@media(max-width:450px){
.logo{
  text-align: center;
  font-size: 1.7rem;
  font-weight:800;
  padding-top: 0px;
  font-weight:1000px;
}
.logo p {
    font-size:15px;
    font-weight:400;
    padding-top: 10px;
    padding-right: 20px;
    float:right;
  }
/* Start of hamburger menu */
#menuToggle
{
  display: fixed;
  position: relative;
  top: -8px;
  left: 10px;
  z-index: 1;
  color:rgb(240, 226, 226);
  -webkit-user-select: none;
  user-select: none;
}
#menu{display:block;
    width:80%;
    height:600px;
  }
}
/* Logo For Desktop */
@media(min-width:450px) and (max-width:3000px){
.logo{
  display:block;
  font-size:1.7rem;
  font-weight:650;
 
  padding-left: 50px;
  padding-top:0px;
  }

.logo p {
  font-size:15px;
  font-weight:400;
  padding-top: 10px;
  padding-right: 20px;
  float:right;
}

/* Start of hamburger menu */
#menuToggle
{
  display: fixed;
  position: relative;
  top: -8px;
  left: 10px;
  z-index: 1;
  color:rgb(240, 226, 226);
  -webkit-user-select: none;
  user-select: none;
}
/* End Of Hamburger Menu */
}
</style>
<!--Header  Ends-->






      {% for CareCenter in CareCenter %}
      <section class="section about-section gray-bg" id="about">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h4 class="dark-color">{{ CareCenter.center_name }}</h4>
                        <h6 class="theme-color lead">{{ CareCenter.center_contact }}</h6>
                        <p>{{ object.About }}</p>
                        <div class="row about-list">
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Store No.</label>
                                    <p>{{ CareCenter.storeno }}</p>
                                </div>
                                <div class="media">
                                    <label>No. of Employees</label>
                                    <p> {{ CareCenter.no_of_employees }}</p>
                                </div>
                                <div class="media">
                                  <label>Date Register</label>
                                  <p>{{ CareCenter.date_registered }} </p>
                              </div>
  
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>E-mail</label>
                                    <p>{{ CareCenter.email }}</p>
                                </div>
                                <div class="media">
                                    <label>Phone</label>
                                    <p>{{ CareCenter.Address }}</p>
                                </div>
                                <div class="media">
                                  <label>Store No.</label>
                                  <p>{{ CareCenter.storeno }}</p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'CareCenter_For_HeadUpdateView' CareCenter.id %}">Update</a>
      </section>
  {% endfor %}
  
  
  
  <style>
  body{
      color: #6F8BA4;
  
  }
  .section {
      padding: 20px 0;
      position: relative;
  }
  .gray-bg {
      background-color: #f5f5f5;
  }

  /* About Me 
  ---------------------*/
  .about-text h3 {
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
  }
  @media (max-width: 767px) {
    .about-text h3 {
      font-size: 35px;
    }
  }
  .about-text h6 {
    font-weight: 600;
    margin-bottom: 15px;
  }
  @media (max-width: 767px) {
    .about-text h6 {
      font-size: 18px;
    }
  }
  .about-text p {
    font-size: 18px;
    max-width: 450px;
  }
  .about-text p mark {
    font-weight: 600;
    color: #20247b;
  }
  
  .about-list {
    padding-top: 10px;
  }
  .about-list .media {
    padding: 5px 0;
  }
  .about-list label {
    color: #20247b;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
  }
  .about-list label:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 11px;
    width: 1px;
    height: 12px;
    background: #20247b;
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    margin: auto;
    opacity: 0.5;
  }
  .about-list p {
    margin: 0;
    font-size: 15px;
  }
  
  @media (max-width: 991px) {
    .about-avatar {
      margin-top: 30px;
    }
  }
  
  .about-section .counter {
    padding: 22px 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
  }
  .about-section .counter .count-data {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about-section .counter .count {
    font-weight: 700;
    color: #20247b;
    margin: 0 0 5px;
  }
  .about-section .counter p {
    font-weight: 600;
    margin: 0;
  }
  mark {
      background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
      background-size: 100% 3px;
      background-repeat: no-repeat;
      background-position: 0 bottom;
      background-color: transparent;
      padding: 0;
      color: currentColor;
  }
  .theme-color {
      color: #fc5356;
  }
  .dark-color {
      color: #20247b;
  }
  
  </style>








 <H4>Doctor's:</H4>
    <div class="dr-list-box-head">
      {% for doctor in doctor %}
       <ul id="dr-list">
        <a href="{% url 'Doctor_For_HeadDetailView' doctor.id %}">{{ doctor.First_Name }} {{ doctor.Last_Name }}</a>
        <li>{{ doctor.speciality }}</li>
       </ul> 
        {% endfor %}
    </div> 
<style>
#dr-list{
  width:300px;  
  border-width:1px;
  border-style: solid;
  border-color: rgb(197, 197, 197);
  margin-left: 20px;
}

.dr-list-box-head{
  display:center;
  padding-left: 100px;
  display:flex;
}
</style>
          
          










<!-- Footer     --------->

<div class="footer-container-page">
    <section class="footer-page">
      <div class="footerlinks-page" >
         <a href="{% url 'about' %}"> About Us</a>
     </div>

     <div class="footerlinks-page">
        <a href="{% url 'contact' %}"> Contact</a>
     </div>

     <div class="footerlinks-page">
        <a href="{% url 'contact' %}">Add Your Clinic/Hospital</a>
     </div>

    </section>

    <div class="socialcontainer-page">
      <a href="#"><img class="socialmedia-page" src="{% static 'images/facebook.png' %}" /></a>
      <a href="#"><img class="socialmedia-page" src="{% static 'images/instagram.png' %}" /></a>
      <a href="#"><img class="socialmedia-page" src="{% static 'images/twitter.png' %}" /></a>
    </div>

    <main class="lastline-page">
     <span class="credit"> <a href="#">EVE </a>|</span>
       <img class="socialmedia" id="copyright" src="{% static 'images/copyright.png' %}" />
       2021 All rights reserved.
    </main>

</div>

<!--Css Of Footer-->
<style type="text/css">

/* for desktop */
@media(min-width:450px) and (max-width:3000px){
.footer-container-page{
  display:block;
  text-align:center;
  margin-top:100px; 
  padding-top: 100px;

  }
.footer-page{
  justify-content:center;
  display:flex;
}
.footerlinks-page{
  padding-left:40px;

}
.footerlinks-page a{
  color:rgb(153, 153, 153);
  font-size: xx-small;
}
.socialmedia-page{
  height:20px;
  width:50px;
  padding-left:30px;
}
.lastline-page a{
  font-size: 15px;
  color:#000000;
}
.lastline-page{
  font-size: xx-small;
  color:#929292;
}
#copyright{
  height:15px;
  width:15px;
}
}


/*Footer-page for mobile  */

@media(max-width:450px){
.footer-container-page{
  display:block;
  text-align:center;
  }
.footer-page{
  justify-content:center;
  display:flex;
}
.footerlinks-page{
  padding-left:10px;

}
.footerlinks-page a{
  color:rgb(153, 153, 153);
  font-size: xx-small;
}
.socialmedia-page{
  height:20px;
  width:50px;
  padding-left:30px;
}
.lastline-page a{
  font-size: 15px;
  font-weight: 700;
  color:#080808;
}
.lastline-page{
  font-size: xx-small;
  color:#929292;
}
#copyright{
  height:15px;
  width:15px;
}
}
</style>
<!--End Of Footer-for-page-->
{% endblock %}